body {
    background: #F1E4E6;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    color: #5D5D5D;
    text-align: left;
    background-color: #fff;
}

.container {
    margin: 0 auto;
    width: 1140px;
}

.container.top {
    width: 100%;
    background: #222222;
}

header {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 75px
}

.right-top {
    display: flex;
    gap: 33px;
    align-items: center;
}

.left-top {
    display: flex;
    gap: 41px;
    align-items: flex-end;
}

/*Заголовки*/

h1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
}

h3 {

    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

.list h3 {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    text-align: left;
    margin-bottom: 13px;
}

h4 {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 37px;
    line-height: 44px;
    color: #222222;
}

h5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

h6 {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
}


/*Слайдер*/

.slider {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 65px;
    background: #F8F8F8;
}

.slider span {
    color: #F16D7F;
}

.slideimg {
    flex: 50%;
}

.slide-title {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    flex: 50%;
}

/*Категории*/

.categories {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 96px;
}

.cat-item {
    height: 260px;
}

.cat-item .desc {
    position: absolute;
}

.item1 {
    background-image: url(../img/t1.jpg);
}

.item2 {
    background-image: url(../img/t2.jpg);
}

.item3 {
    background-image: url(../img/t3.jpg);
}

.item4 {
    background-image: url(../img/t4.jpg);
}

div.full {
    grid-column: span 3;
}

.full {
    height: 100%;
    width: 100%;
    height: 180px;
}

.bright {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(33, 22, 22, 0.7);
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


/*Товары*/


.features {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.goods {
    background: #F8F8F8;
}

.list {
    margin-top: 46px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    gap: 30px;
}

.desc {
    margin: 24px 29px 20px 16px;
}

.list p {
    margin-bottom: 18px;
    font-size: 14px;
}

.price {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

/*кнопка*/

button {
    margin-top: 49px;
    margin-bottom: 60px;
    border: 1px solid #FF6A6A;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    padding: 14px 38px;
    background-color: #fff;
}


@media (min-width: 768px) and (max-width: 1024px) {
    header {
        width: 100%;
        height: 74px;
        padding-left: 32px;
        padding-right: 41px
    }

    .container {
        width: 734px;
    }

    .right-top {
        gap: 25px;
    }

    .right-top img:last-child {
        margin-left: 17px;
    }

    .categories {
        gap: 20px;
    }

    .cat-item {
        height: 168px;
    }

    .full {
        height: 116px;
    }

    h1 {
        font-size: 44px;
        line-height: 53px;
    }

    h5 {
        font-size: 24px;
        line-height: 29px;
    }

    h4 {
        font-size: 24px;
        line-height: 29px;
    }

    h5 {
        font-size: 16px;
        line-height: 19px;
    }

    .list {
        gap: 16px;
    }
}

@media (max-width: 767px) {
    header {
        width: 100%;
        height: 74px;
        padding: 0 16px;
    }

    .container {
        width: calc(100% - 32px);
    }

    .right-top {
        gap: 25px;
    }

    .right-top img:nth-child(2),
    .right-top img:last-child,
    .slideimg {
        display: none;
    }

    .slider {
        height: 363px;
    }

    .slide-title {
        flex: none;
    }

    .categories {

        gap: 32px;
        grid-template-columns: repeat(auto-fit, 360px);
    }

    div.full {
        grid-column: span none;
    }

    .cat-item {
        height: 248px;
    }

    .full {
        height: 111px;
    }

    h1 {
        font-size: 38px;
        line-height: 45px;
    }

    h5 {
        font-size: 24px;
        line-height: 29px;
    }

    h4 {
        font-size: 20px;
        line-height: 24px;
    }

    h5 {
        font-size: 16px;
        line-height: 19px;
    }

    .list {
        gap: 16px;
    }
}